/* 2025-02-18 by:4c01   zako qichen*/

/* loading.css */
.sk-cube-grid {
  width: 4em;
  height: 4em;
  margin: auto; 
}
.sk-cube {
  width: 33%;
  height: 33%;
  background-color: #e04960;
  float: left;
  animation: sk-cube-grid-scale-delay 1.3s infinite ease-in-out;
}
.sk-cube-1 {
  animation-delay: 0.2s;
}
.sk-cube-2 {
  animation-delay: 0.3s;
}
.sk-cube-3 {
  animation-delay: 0.4s;
}
.sk-cube-4 {
  animation-delay: 0.1s;
}
.sk-cube-5 {
  animation-delay: 0.2s;
}
.sk-cube-6 {
  animation-delay: 0.3s;
}
.sk-cube-7 {
  animation-delay: 0s;
}
.sk-cube-8 {
  animation-delay: 0.1s;
}
.sk-cube-9 {
  animation-delay: 0.2s;
}
@keyframes sk-cube-grid-scale-delay {
  0%, 70%, 100% {
    transform: scale3D(1,1,1);
  }
  35%           {
    transform: scale3D(0,0,1);
  }
}


body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f5;
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    background-color: #09f;
    background: linear-gradient(to right, #2c3e50 1%, 10%, #34495e 40%, #7f8c8d);
    color: #fff;
    padding: 20px 0px 20px 0px;
    text-align: center;
}
h1 {
    font-size: larger;
}
main {
    min-height: 95vh;
}
header h1 {
    margin: 0;
}

input[type="text"] {
    height: 15px;
    width: 70%;
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 30px;
    border: 10px solid #fff;
}
/* 资源区的样式qwq */
div#text h1 {
    margin-left: 20px;
    font-size: xx-large;
}
div#text h2 {
    margin-left: 30px;
    font-size: x-large;
}
div#text h3 {
    margin-left: 40px;
    font-size: larger;
}
div#text text {
    margin-left: 60px;
    font-size: large;
}
div#main {
    height: 100%;
    padding: 0;
    padding-top: 120px;
    padding-bottom: 70px;
    margin-left: 10px;
}
/* 资源的样式awa */
div#content_info h1 {
    font-size: large;
}
div#content {
    overflow: auto;
    float: left;
    height: 145px;
    width: 300px;

    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;

    padding: 7px;
    padding-bottom: 10px;

    background-color: #eee;
    border-radius: 30px;
    border: 20px solid #eee;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}
div#content:hover {
    background-color: #ddd;
    border-color: #ddd;
    transition: background border 0.5s;
}
div#content_info {
    float: right;
    overflow-x: auto;
    overflow: hidden;
    height: 110px;
    width: 205px;

    margin: 0px;
    margin-left: 5px;

    padding-right: 5px;
    padding-left: 0px;
}
#content_info h1 {
    text-align: center;
    font-size: larger;
    margin-top: 10px;
}
div#content_pic {
    float: right;
    overflow-x: auto;
    overflow: hidden;
    height: 100px;
    width: 80px;
}
div#linkbox {
    float: left;
    height: 50px;
    width: 100%;
    padding: 0px;
}
div#download {
    float: right;
    overflow-x: auto;
    height: 40px;
    width: 50%;
    border-radius: 10px;
    border: 0px solid #eee;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    background-color: #eee;
}
div#download:hover {
    background-color: #ddd;
    border-color: #ddd;
    transition: background border 0.5s;
}
div#download h2 {
    margin: 0px;
    margin-top: 9px;
    font-size: 16px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
}

/* sidebar样式 */
div#bar-wrap {
    position: fixed;
    top: 120px;
    background-color: #fff;
    overflow: hidden;
    height: 90%;
    /* 删除泛光效果 */
    box-shadow: none;
    border-left: 0px;
}
div#sidebar {
    float: left;
    height: 87%;
    width: 0px;
    border-right: #09f solid 3px;
    border-bottom: #09f solid 100px;
    padding: 0px;
}
div#subbar {
    overflow: auto;
    float: left;
    height: 87%;
    width: 0px;
    border-right: #09f solid 3px;
    border-bottom: #09f solid 100px;
}
div#subbar::-webkit-scrollbar{
    display: none;
}
div.subbar-category {
    height: 30px;
    width: 80%;
    margin-left: 4px;
}
div.subbar-content {
    font-size: 17px;
    height: 23px;
    margin: 0;
    margin-left: 8px;
}
button#open-subbar-button {
    width: 100%;
    border: #fff solid 0px;
    border-bottom: #09f solid 1.5px;
    color: #333;
    background-color: #fff;
    text-align: left;
    font-size: large;
    padding-top: 10px;
    padding-left: 10px;
}
button#open-subbar-button:hover {
    background-color: #eee;
    border-left: #0ef solid 10px;
    transition: border 0.3s;
}
/* sidebar button */
button#open-sidebar-button {
    width: 50px;
    height: 50px;
    padding: 0px 5px 5px 5px;
    border-radius: 10px;
    border: 1px solid #eee;

    color: #333;
    background-color: #eee;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    font-size: xx-large;
    position: fixed;
    top: 45px;
    left: 30px;
}
button#open-sidebar-button:hover {
    background-color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: rgba(0, 0, 0, 0.158);
    background: linear-gradient(to right,#2c3e50 1%,5%,#34495e 40%,90%, #7f8c8d);
    color: #fff;
    text-align: center;
    padding: 10px 0px 10px 0px;
    width: 100%;
    bottom: 0;
}

.resource-detail {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.resource-detail h2 {
    font-size: 24px;
}

.resource-detail p {
    font-size: 16px;
}

.resource-detail a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* category的自适应 */
.categories ul,
.resources ul {
    list-style-type: none;
    padding: 0;
    padding-top: 20px;
    overflow: auto;
}
@media (max-width: 650px) and (min-width: 500px) {
    .resources ul {
        padding-left: 9%;
        padding-right: 11%;
    }
}
@media (max-width: 500px) {
    div#content {
        margin-left: 1%;
        margin-right: 1%;
    }
    input[type="text"] {
        margin-top: 20px;
        padding: 3px;
        width: 70%;
        font-size: 16px;
        border-radius: 30px;
        border: 10px solid #fff;
    }
    button#open-sidebar-button {
        top: 65px;
        left: 20px;
        height: 40px;
        width: 40px;
        font-size: x-large;
    }
}
@media (max-width: 1300px) and (min-width: 980px) {
    .resources ul {
        padding-left: 4%;
        padding-right: 3%;
    }
}

@media (min-width: 1440px) {
    .resources ul {
        padding-left: 4%;
        padding-right: 3%;
    }
}
/* 修改侧边栏边框色 */
div#sidebar {
    border-right: #2c3e50 solid 3px;
    border-bottom: #2c3e50 solid 100px;
}

/* 修改按钮悬停效果 */
button#open-subbar-button:hover {
    border-left: #34495e solid 10px;
}
/* sidebar button */
button#open-sidebar-button {
    width: 50px;
    height: 50px;
    padding: 0px 5px 5px 5px;
    border-radius: 10px;
    border: 1px solid #eee;

    color: #333;
    background-color: #eee;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    font-size: xx-large;
    position: fixed;
    top: 45px;
    left: 30px;
}
button#open-sidebar-button:hover {
    background-color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

footer {
    background: linear-gradient(to right,#2c3e50 1%,5%,#34495e 40%,90%, #7f8c8d);
}

.resource-detail {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.resource-detail h2 {
    font-size: 24px;
}

.resource-detail p {
    font-size: 16px;
}

.resource-detail a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* category的自适应 */
.categories ul,
.resources ul {
    list-style-type: none;
    padding: 0;
    padding-top: 20px;
    overflow: auto;
}
@media (max-width: 650px) and (min-width: 500px) {
    .resources ul {
        padding-left: 9%;
        padding-right: 11%;
    }
}
@media (max-width: 500px) {
    div#content {
        margin-left: 1%;
        margin-right: 1%;
    }
    input[type="text"] {
        margin-top: 20px;
        padding: 3px;
        width: 70%;
        font-size: 16px;
        border-radius: 30px;
        border: 10px solid #fff;
    }
    button#open-sidebar-button {
        top: 65px;
        left: 20px;
        height: 40px;
        width: 40px;
        font-size: x-large;
    }
}
@media (max-width: 1300px) and (min-width: 980px) {
    .resources ul {
        padding-left: 4%;
        padding-right: 3%;
    }
}

@media (min-width: 1440px) {
    .resources ul {
        padding-left: 4%;
        padding-right: 3%;
    }
}

