<!DOCTYPE html>
<html>
<head>
  <title>系统错误</title>
  <link href="https://cdn.bootcss.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">资源库</a>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="alert alert-danger">
      <h4 class="alert-heading">系统错误</h4>
      <p><%= message %></p>
      <hr>
      <a href="/" class="btn btn-outline-secondary">返回首页</a>
    </div>
  </div>
</body>
</html>